*{
				background: #333;
				margin: 0;
				padding: 0;
}
h1{
				text-align: center;
				background-color: cyan;
				color:#333;
				font-size: 5vh;
				font-weight: 900;
			 
			 
}
a{
				color:#eee;
				font-size: 2vh;
				margin: 5vh 10vw 1vw 10vw ;
				
}